* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}
ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}