.navigation {
    &__category {
        li {
            padding-bottom: 30px;
        }
        &__link {
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 1.4rem;
            letter-spacing: 0.666667px;
            text-transform: uppercase;
            color: #000000;
            &--active {
                font-weight: 500;
            }
        }
    }
    &__filter {
        padding-top: 20px;
        & > li {
            position: relative;
            display: inline-block;
            a {
                cursor: pointer;
                &:after {
                    content: '';
                    background: url('../../img/path.svg');
                    background-repeat: no-repeat;
                    width: 12px;
                    height: 5px;
                    display: block;
                    top: 50%;
                    margin-top: -2.5px;
                    right: -20px;
                    position: absolute;
                    transition: all 0.3s ease;
                }
                &.active {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        a {
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1.6rem;
            text-align: right;
            letter-spacing: 0.7px;
            color: #000000;
            position: relative;
            
        }
        ul {
            border: 1px solid #000000;
            padding: 15px;
            position: absolute;
            left: 50%;
            margin-left: -100px;
            min-width: 200px;
            top: 30px;
            li {
                &:not(:last-child) {
                    padding-bottom: 15px;
                }
                a {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}