.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 60px;
  &__logo {

  }
  &__cart {
    display: flex;
    align-content: center;
    &__num {
      background: #000;
      text-align: center;
      color: #fff;
      font-weight: 500;
      font-size: 1.4rem;
      padding: 4px 8.5px;
      display: inline-block;
      margin-left: 8px;
    }
  }
}

